.DS_Store
.eclipse.buildship.core.prefs
.gradle/
.idea/
.kubernetes-manifests-*/
.project
.skaffold-*.yaml
.terraform.lock.hcl
.terraform/*
.venv/
.vs/
.vscode/
*.iml
*.ipr
*.iws
*.pyc
*.swp
*.tfstate*
*.tfvars
*~
bin/
build/
Dockerfile.pip
node_modules/
obj/
pkg/
release/wi-kubernetes-manifests.yaml
vendor/
.score-compose/state.yaml
.score-compose/Z32h9kJkLyQ.taVWXqAIhYSIsDvUDDFf-Q.provisioners.yaml
.score-compose/zz-default.provisioners.yaml
.score-compose/mounts/redis-Jk0TAP/redis.conf
.score-compose/mounts/routing-jxxvxY/nginx.conf
compose.yaml
