name: "Continuous Integration - Pull Request"
on:
  pull_request:
    branches:
      - main
jobs:
  make-compose-test:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout code
        uses: actions/checkout@v6.0.1
      - name: install score-compose
        uses: score-spec/setup-score@v3
        with:
          file: score-compose
          token: ${{ secrets.GITHUB_TOKEN }}
          version: ${{ env.SCORE_COMPOSE_VERSION }}
      - name: make compose.yaml
        run: |
          make compose.yaml
      - name: make compose-test
        run: |
          make compose-test
        
