name: open-pr
permissions:
  contents: read
  id-token: write
on:
  pull_request:
env:
  SCORE_COMPOSE_VERSION: 'latest'
jobs:
  run-compose:
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm]
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: install score-compose
        uses: score-spec/setup-score@v3
        with:
          file: score-compose
          token: ${{ secrets.GITHUB_TOKEN }}
          version: ${{ env.SCORE_COMPOSE_VERSION }}
      - name: score-compose init
        run: |
          score-compose init --no-sample --provisioners https://raw.githubusercontent.com/score-spec/community-provisioners/refs/heads/main/score-compose/00-service.provisioners.yaml
      - name: score-compose generate
        run: |
          score-compose generate src/adservice/score.yaml --build='adservice={"context":"src/adservice/"}'
          score-compose generate src/cartservice/score.yaml --build='cartservice={"context":"src/cartservice/src/"}'
          score-compose generate src/checkoutservice/score.yaml --build='checkoutservice={"context":"src/checkoutservice/"}'
          score-compose generate src/emailservice/score.yaml --build='emailservice={"context":"src/emailservice/"}'
      - name: docker compose up
        run: |
          docker compose up --build -d --remove-orphans
      - name: docker ps
        run: |
          docker ps
