name: open-pr
permissions:
  contents: read
  id-token: write
on:
  pull_request:
env:
  SCORE_COMPOSE_VERSION: 'latest'
jobs:
  test-amd:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: install score-compose
        uses: score-spec/setup-score@v3
        with:
          file: score-compose
          token: ${{ secrets.GITHUB_TOKEN }}
          version: ${{ env.SCORE_COMPOSE_VERSION }}
      - name: score-compose init
        run: |
          score-compose init --no-sample
      - name: score-compose generate
        run: |
          score-compose generate src/emailservice/score.yaml --build='emailservice={"context":"src/emailservice/"}' --output compose.emailservice.yaml
          score-compose generate src/cartservice/score.yaml --build='cartservice={"context":"src/cartservice/src/"}' --output compose.cartservice.yaml
      - name: docker compose up
        run: |
          export COMPOSE_PATH_SEPARATOR=:
          export COMPOSE_FILE=compose.emailservice.yaml:compose.cartservice.yaml
          docker compose up --build -d --remove-orphans
  test-arm:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: install score-compose
        uses: score-spec/setup-score@v3
        with:
          file: score-compose
          token: ${{ secrets.GITHUB_TOKEN }}
          version: ${{ env.SCORE_COMPOSE_VERSION }}
      - name: score-compose init
        run: |
          score-compose init --no-sample
      - name: score-compose generate
        run: |
          score-compose generate src/emailservice/score.yaml --build='emailservice={"context":"src/emailservice/"}'
      - name: docker compose up
        run: |
          docker compose up --build -d --remove-orphans